@font-face {
      font-family: "Antro Vectra";
      src: url("https://rawcdn.githack.com/HeyITGuyFixIt/font/752e8edf056d44fac2bab679cc01fb3a60ea6572/Antro Vectra/Antro_Vectra.otf") format("opentype"); /* .otf */
      unicode-range: U+?????;
      font-style: normal;
      font-weight: 400;
}
