@font-face {
      font-family: "Antro Vectra";
      src: url(https://cdn.rawgit.com/heyitguyfixit/font/c7565819/Antro%20Vectra/Antro_Vectra.otf) format("opentype"); /* .otf */
      unicode-range: U+?????;
      font-style: normal;
      font-weight: 400;
}
