@font-face {
      font-family: "Antro Vectra";
      src: url("https://github.com/heyitguyfixit/font/raw/master/Antro%20Vectra/Antro_Vectra.otf") format("opentype"); /* .otf */
      unicode-range: U+?????;
      font-style: normal;
      font-weight: 400;
}
