@font-face {
	font-family: "Steamwreck";
	src: url("https://cdn.rawgit.com/heyitguyfixit/font/ae1cae1c/Steamwreck/Steamwreck%20Regular.otf") format("opentype"); /* .otf */
	unicode-range: U+?????;
}
@font-face {
	font-family: "Steamwreck Bold";
	src: url("https://cdn.rawgit.com/heyitguyfixit/font/ae1cae1c/Steamwreck/Steamwreck%20Bold.otf") format("opentype"); /* .otf */
	unicode-range: U+?????;
}
@font-face {
	font-family: "Steamwreck Bold Italic";
	src: url("https://cdn.rawgit.com/heyitguyfixit/font/ae1cae1c/Steamwreck/Steamwreck%20BoldItalic.otf") format("opentype"); /* .otf */
	unicode-range: U+?????;
}
@font-face {
	font-family: "Steamwreck Italic";
	src: url("https://cdn.rawgit.com/heyitguyfixit/font/ae1cae1c/Steamwreck/Steamwreck%20Italic.otf") format("opentype"); /* .otf */
	unicode-range: U+?????;
}
