@font-face {
	font-family: "Steamwreck";
	src: url("https://rawcdn.githack.com/heyitguyfixit/font/ae1cae1c/Steamwreck/Steamwreck.otf") format("opentype"); /* .otf */
	unicode-range: U+?????;
}
@font-face {
	font-family: "Steamwreck Bold";
	src: url("https://rawcdn.githack.com/heyitguyfixit/font/ae1cae1c/Steamwreck/Steamwreck Bold.otf") format("opentype"); /* .otf */
	unicode-range: U+?????;
}
@font-face {
	font-family: "Steamwreck Bold Italic";
	src: url("https://rawcdn.githack.com/heyitguyfixit/font/ae1cae1c/Steamwreck/Steamwreck BoldItalic.otf") format("opentype"); /* .otf */
	unicode-range: U+?????;
}
@font-face {
	font-family: "Steamwreck Italic";
	src: url("https://rawcdn.githack.com/heyitguyfixit/font/ae1cae1c/Steamwreck/Steamwreck Italic.otf") format("opentype"); /* .otf */
	unicode-range: U+?????;
}
